@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    cursor: default;
  }

  body {
    background: rgb(19,96,211);
    background: linear-gradient(180deg, rgba(19,96,211,1) 21%, rgba(141,184,249,1) 100%);
    font-family: 'Roboto Mono', monospace;
  }

  .nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 30px;
  }

  .wf-title h1 { 
    color: #FFF;
    letter-spacing: 5px;
  }

  input.search-bar {
    background-color: rgba(255, 255, 255, 0.10);
    color: rgb(255, 255, 255);

    font-family: monospace;
    border: none;
    border-radius: 2rem;

    padding: 10px 15px;
    width: 200px;
  }

  input.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.4); 
  }

  .weather {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;

    padding: 30px;
    margin: 10px 30px;
    border-radius: 2rem;

    text-align: center;
  }

  .weather h1 { font-size: 30px; font-weight: 700; letter-spacing: 10px;} 
  .weather h2 { font-size: 120px; font-weight: 300; letter-spacing: -6px;}
  .weather p { font-size: 30px; font-weight: 100; letter-spacing: 10px; }
  .description { padding: 10px 0;}
  
  .high-low {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;

    padding: 10px 30px;

    text-align: center;
    color: #FFF;
  }

  .feels-like, .humidity, .pressure, .windspeed  {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    padding: 5vh 0;
    transition: all 0.2s ease-in-out;
  }

  .feels-like:hover, .humidity:hover , .pressure:hover , .windspeed:hover { 
    transform: scale(1.02); 
    cursor: pointer;
  }

  .data h1 { font-size: 35px; font-weight: 500; }
  .data h2 { font-size: 45px; font-weight: 800; }

  footer {
    color: #FFF;
    padding: 30px;
    padding-top: 50px;
  }

 /* MOBILE VIEW  */
@media screen and (max-width: 800px) {
  .nav { 
    padding: 25px 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .wf-title h1 { font-size: 20px;  padding: 10px }
  .data { grid-template-columns: 1fr; }
}